/* :root {
  --light-gradient: linear-gradient(95.08deg, #00baff 2.49%, #063ef9 97.19%);
  --dark-gradient: linear-gradient(
    95.08deg,
    #945bf1 2.49%,
    #bb48bf 49%,
    #f67e4d 97.19%
  );
} */

@font-face {
  font-family: "OpenSans";
  src: url("/public/fonts/OpenSans-Light.ttf");
  src: url("/public/fonts/OpenSans-Medium.ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  /* set the font family to Inter */
  font-family: OpenSans, sans-serif;
  font-weight: 400;
}

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
