:root {
  --light-gradient: linear-gradient(95.08deg, #00baff 2.49%, #063ef9 97.19%);
  --dark-gradient: linear-gradient(
    95.08deg,
    #945bf1 2.49%,
    #bb48bf 49%,
    #f67e4d 97.19%
  );
}

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  /* set the font family to Inter */
  font-family: "Inter", "sans-serif";
}

a {
  @apply underline;
}

::selection {
  background: #945bf170;
}

html.dark .headroom--pinned header {
  border-bottom: 1px solid rgba(78, 75, 102, 0.78);
}

html.light .headroom--pinned header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
}
