a {
  @apply underline;
}

::selection {
  background: #945bf170;
}

html.dark .headroom--pinned header {
  border-bottom: 1px solid rgba(78, 75, 102, 0.78);
}

html.light .headroom--pinned header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
}
